.categories-block {
  width: 100%;
  padding: 20px 20px 10px 20px;
  margin-bottom: 30px;
  border: 1px solid #ccc; }
  .categories-block .block-header {
    font-size: 18px;
    color: #9b9b9b;
    margin-bottom: 15px; }
  .categories-block ul .block-item {
    font-size: 14px;
    color: #16459a;
    margin-bottom: 20px;
    font-weight: normal;
    cursor: pointer; }
