#pre-content-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  margin-top: 45px; }
  #pre-content-block .sort {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #16459a;
    cursor: pointer; }
    #pre-content-block .sort .sort-menu {
      margin-top: -26px;
      margin-left: -18px;
      box-sizing: content-box; }
      #pre-content-block .sort .sort-menu ul {
        width: calc(100% + 5px);
        position: absolute;
        text-align: left;
        min-width: 100px;
        padding: 12px 18px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        cursor: default;
        background-color: #fff;
        z-index: 100; }
        #pre-content-block .sort .sort-menu ul .dropdown-header {
          text-align: left;
          padding-bottom: 12px;
          margin-bottom: 3px;
          font-size: 14px;
          border-bottom: 1px solid rgba(22, 69, 154, 0.1);
          cursor: pointer; }
          #pre-content-block .sort .sort-menu ul .dropdown-header span {
            font-size: 12px; }
        #pre-content-block .sort .sort-menu ul li {
          text-align: left; }
        #pre-content-block .sort .sort-menu ul li {
          display: block !important;
          margin: 15px 0;
          cursor: pointer;
          font-weight: 400; }
