.new-this-week-product-big {
  display: flex;
  cursor: pointer; }
  @media (max-width: 767px) {
    .new-this-week-product-big {
      margin-bottom: 30px; } }
  .new-this-week-product-big .img-block {
    flex-basis: 407px;
    min-width: 407px;
    max-width: 407px;
    height: 407px; }
    @media (max-width: 1199px) {
      .new-this-week-product-big .img-block {
        flex-basis: 350px;
        min-width: 350px;
        max-width: 350px;
        height: 350px; } }
    @media (max-width: 991px) {
      .new-this-week-product-big .img-block {
        flex-basis: 300px;
        min-width: 300px;
        max-width: 300px;
        height: 300px; } }
    @media (max-width: 767px) {
      .new-this-week-product-big .img-block {
        flex-basis: 175px;
        min-width: 175px;
        max-width: 175px;
        height: 175px; } }
  .new-this-week-product-big img {
    width: 100%;
    max-height: 407px; }
    @media (max-width: 1199px) {
      .new-this-week-product-big img {
        max-height: 350px; } }
    @media (max-width: 991px) {
      .new-this-week-product-big img {
        max-height: 300px; } }
    @media (max-width: 767px) {
      .new-this-week-product-big img {
        max-height: 175px; } }
  .new-this-week-product-big .info-block {
    padding: 40px 30px 0 30px; }
    @media (max-width: 767px) {
      .new-this-week-product-big .info-block {
        padding: 0; } }
  .new-this-week-product-big .price-block {
    margin-bottom: 10px; }
  .new-this-week-product-big .stock-block div {
    display: flex;
    align-items: center;
    width: 200px; }
    @media (max-width: 1199px) {
      .new-this-week-product-big .stock-block div {
        width: 150px; } }
    @media (max-width: 576px) {
      .new-this-week-product-big .stock-block div {
        height: 50px;
        padding: 8px 10px; } }
    @media (max-width: 576px) {
      .new-this-week-product-big .stock-block div span {
        font-size: 13px;
        font-weight: 500; } }
    @media (max-width: 576px) {
      .new-this-week-product-big .stock-block div::before {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 15px solid #79bfff;
        left: -15px; } }
