@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600");
#new-this-week-page #new-this-week-banner {
  width: 389px;
  height: 375px;
  padding: 116px 50px;
  margin-bottom: 0;
  text-align: center;
  background-image: url("../../assets/nt-w-banner.png");
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3); }
  @media (max-width: 1199px) {
    #new-this-week-page #new-this-week-banner {
      padding: 94px 40px;
      width: 311px;
      height: 300px; } }
  @media (max-width: 991.5px) {
    #new-this-week-page #new-this-week-banner {
      display: none; } }
  #new-this-week-page #new-this-week-banner h2 {
    font-family: Zilla Slab;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase; }
    @media (max-width: 1199px) {
      #new-this-week-page #new-this-week-banner h2 {
        font-size: 45px; } }
  #new-this-week-page #new-this-week-banner h1 {
    font-family: Zilla Slab;
    font-size: 93px;
    line-height: 0.81;
    text-transform: uppercase;
    margin-bottom: 14px; }
    @media (max-width: 1199px) {
      #new-this-week-page #new-this-week-banner h1 {
        font-size: 70px; } }
  #new-this-week-page #new-this-week-banner h3 {
    font-size: 29px;
    font-weight: normal;
    line-height: 1.1; }
    @media (max-width: 1199px) {
      #new-this-week-page #new-this-week-banner h3 {
        font-size: 20px; } }

#new-this-week-page #new-this-week-main {
  margin-bottom: 68px; }

#new-this-week-page .product-template {
  margin-bottom: 30px; }
